<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqHBK_iIVxDVHeoTWArUNMexg5lRNuNNQ</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144578801982-gu42en88bf7gc7s9j5m0us5grdlenqnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144578801982-gu42en88bf7gc7s9j5m0us5grdlenqnb</string>
	<key>GCM_SENDER_ID</key>
	<string>144578801982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniel.mdb.MDBSocial</string>
	<key>PROJECT_ID</key>
	<string>mdb-social</string>
	<key>STORAGE_BUCKET</key>
	<string>mdb-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144578801982:ios:a41aa7e813331b7b</string>
	<key>DATABASE_URL</key>
	<string>https://mdb-social.firebaseio.com</string>
</dict>
</plist>
